<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
    <nav> </nav><!--Place nav here-->
        <h6>NAV BAR GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>

        {{{ body }}}<!--Handlebars, dosen't confuse with the body tags. needs 3.-->

        <h6>FOOTER GOES HERE AND WILL APPEAR ON EVERY VIEW</h6>
    </body>
</html>
