
body {
  background:#bad4d7;
}

#top {
  background: #58959c;
  padding: 0 1em 1em 1em;

}

img {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 max-width: 400px;
 max-height: 200px;

}

h1 {
  text-align: center;
  color: #bad4d7;
  font-family: sans-serif;

}

h2, h3, h4 {
  text-align: center;
 color:#2d4c4f;
  font-family: sans-serif;
}

h3 {
    color:#2d4c4f;
}

main {

  text-align: left;
}

ol {
  font-family: sans-serif;
}

footer {
  background:#58959c;
  color: #bad4d7;
  padding: 1em;

}
footer h2 {
  color: #bad4d7;
}
